<div class="container container-top-bottom-margin">
  <h2 class="sign_in_up_attr" align="center" style = "font-size:40px; padding:15px;">회원가입</h2>

  <!--<form action="/users" method="post" enctype="multipart/form-data">-->
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form_group">
      <%= f.label :email, "이메일", class: "sign_in_up_attr" %>
      <%= f.email_field :email, class: "form-control", placeholder: 'sample@kookmin.ac.kr', autofocus: true, required: true %>
    </div></br> 
    <div class="form_group">
      <%= f.label :name, "닉네임", class: "sign_in_up_attr" %>
      <%= f.text_field :name, class: "form-control", placeholder: '닉네임을 입력해주세요.', autocomplete: "off", required: true %>
    </div></br> 
    <div class="form_group">
      <%= f.label :password, "비밀번호 (8자이상)", class: "sign_in_up_attr" %>
      <%= f.password_field :password, class: "form-control", placeholder: '********', autocomplete: "off", required: true %>
    </div></br>
    <div class="form_group">
      <%= f.label :password_confirmation, "비밀번호 확인", class: "sign_in_up_attr"%>
      <%= f.password_field :password_confirmation,  class: "form-control", placeholder: '********', autocomplete: "off", required: true %>
    </div></br>  
    <div class="form_group">
     <!--<label for="user_pic">자신을 표현할 수 있는 이미지</label><br>-->
     <%= f.file_field :image_url, class: "form-control"%>
     <%#= f.hidden_field :image_url, value: (1..12).to_a.sample %>
     <!--<input type="hidden" name="user[pic]" id="user_pic" value="<%#=(1..12).to_a.sample%>">-->
    </div>
  
    <div class="form_group">
      <%= f.label :category, "관심 카테고리 (최대 5개 선택 가능)", class: "sign_in_up_attr"%><br>
      <%= f.hidden_field :category %>    
      <div id="category-container" class="row">
        <div class="col-md-2"><label class="checkbox-inline sign_in_up_attr"><input type="checkbox" value="영화">영화</label></div>
        <div class="col-md-2"><label class="checkbox-inline sign_in_up_attr"><input type="checkbox" value="드라마">드라마</label></div>
        <div class="col-md-2"><label class="checkbox-inline sign_in_up_attr"><input type="checkbox" value="애니">애니</label></div>
        <div class="col-md-2"><label class="checkbox-inline sign_in_up_attr"><input type="checkbox" value="연극">연극</label></div>
        <div class="col-md-2"><label class="checkbox-inline sign_in_up_attr"><input type="checkbox" value="만화">만화</label></div>
        <div class="col-md-2"><label class="checkbox-inline sign_in_up_attr"><input type="checkbox" value="게임">게임</label></div>
        <div class="col-md-2"><label class="checkbox-inline sign_in_up_attr"><input type="checkbox" value="도서">도서</label></div>
        <div class="col-md-2"><label class="checkbox-inline sign_in_up_attr"><input type="checkbox" value="자동차">자동차</label></div>
    <div class="col-md-2"><label class="checkbox-inline sign_in_up_attr"><input type="checkbox" value="운동">운동</label></div>
        <div class="col-md-2"><label class="checkbox-inline sign_in_up_attr"><input type="checkbox" value="아이돌">아이돌</label></div>
        <div class="col-md-2"><label class="checkbox-inline sign_in_up_attr"><input type="checkbox" value="여행">여행</label></div>
        <div class="col-md-2"><label class="checkbox-inline sign_in_up_attr"><input type="checkbox" value="사진">사진</label></div>
        <div class="col-md-2"><label class="checkbox-inline sign_in_up_attr"><input type="checkbox" value="낚시">낚시</label></div>
      </div>
    </div></br>
    <div class="form_group">
      <%= f.label :major, "단과대학", class: "sign_in_up_attr"%>
      <%= f.select(:major, [ "문과대학", "사회과학대학", "법과대학", "경상대학", "조형대학",
                              "삼림과학대학", "자연과학대학", "예술대학", "체육대학", "경영대학",
                              "전자정보통신대학", "건축대학", "자동차융합대학"], {}, { :class => 'form-control' }) %>
    </div></br>
    
    <div class="form_group">
      <%= f.label :gender, "성별", class: "sign_in_up_attr"%><br>
      <%= f.hidden_field :gender, value:"male" %>   
      <div id="gender-container">
        <label class="radio-inline sign_in_up_attr"><input type="radio" name="gender" value="male" checked="checked">남자</label>
        <label class="radio-inline sign_in_up_attr"><input type="radio" name="gender" value="female">여자</label>
      </div>
    </div></br>
    <div class="form_group">
      <%= f.label :introduce, "소개", class: "sign_in_up_attr" %>
      <%= f.text_area :introduce, class: "form-control textarea-style", col:100, row: 10, placeholder: '자신을 소개해주세요.', autocomplete: "off", required: true %>
    </div></br> 
      <div class="actions">
        <input class="btn btn-default" type="submit" name="commit" value="회원가입">
      </div>
  <!--</form>-->
  <% end %>
<%#= render "devise/shared/links" %>
</div>

<script>
$(function(){  
  // 카테고리 체크 제어
  $("#category-container input").click(function(){
    if($("#category-container input:checked").length > 5){
      alert("최대 5개까지 선택 가능합니다.");
      $(this).attr('checked', false);
    };
    if($(this).is(':checked')){
      var $category = $(this).val(); // 선택된 카테고리      
      $("#user_category").val(function(i, oldVal){
        if(!oldVal){
          var categoryArr = new Array();
          categoryArr.push($category)
          return categoryArr
        }else{
          var categoryArr = oldVal.split(',');        
          categoryArr.push($category)
          return categoryArr
        }
      });
    }else{
      var $category = $(this).val(); // 선택 해제된 카테고리
      $("#user_category").val(function(i, oldVal){        
        var categoryArr = oldVal.split(',');
        categoryArr = $.grep(categoryArr, function( val ) {          
          return val !== $category;
        });
        return categoryArr
      });
    }
  });
  
  // 성별 체크 제어
  $("#gender-container input").click(function(){
    var gender = $("input:radio[name='gender']:checked").val();
    $("#user_gender").val(gender);
  });
  
});
</script>