<div class="container container-top-bottom-margin">
  <%if @user.gender == "male"%>
  <div class="detail-container male_color">
  <%else%>
  <div class="detail-container female_color">
  <%end%>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <center><%= image_tag(@user.pic+'.jpg', class: "detail-user-image") %>
          <div class="detail-name"><%=@user.name%></div>
          <div class="detail-major"><%=@user.major%></div>           
          <div class="detail-category">
            <% @user.category.split(',').each do |category| %>
            <span>#<%= category %>  </span>
            <% end %>
          </div>
        </center>
        
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="detail-introduce"><%=@user.introduce.gsub(/\r\n/, '<br/>').html_safe%></div>
      </div>
    </div>    
  </div><!-- container -->
  <%if @user.gender == "male"%>
  <div class="comment-container male_color">
  <%else%>
  <div class="comment-container female_color">
  <%end%>
    <ul>
      <li class="list-group-item">
        <div class="input-group">
          <input type="text" class="form-control reply-content" placeholder="댓글을 작성해주세요">
          <span class="input-group-btn">
            <button id="reply-button" class="btn btn-default" type="button">작성</button>
          </span>
        </div>
      </li>
      <div class="masonry">      
        <% @comments.each do |comment| %> 
          <li class="list-group-item comment-item masonry-item">
            <div class="comment-user"><%=comment.user.name%></div>
            <div class="comment-date"><%=comment.created_at%></div>
            <div class="comment-content">
              <span>"</span>
              <%=comment.content%>
              <span>"</span>
            </div>
          </li>
        <%end%>      
      </div>
    </ul>
  
  </div><!-- container -->
</div>

<script>
$(function(){
  
  //masonry 추가
  var $grid = $('.masonry').masonry({
      itemSelector: '.masonry-item',
  });  
        
  $("#reply-button").click(function(){
    $.ajax({
      method: "POST",
      url: "/write_reply",
      data: { receiver_id: <%=@user.id %>,
              content: $(".reply-content").val()},
      success: function(data){
        var item = $(
          "<li class='list-group-item comment-item masonry-item'>" +
            "<div class='comment-user'>" + "<%=current_user.name%>" + "</div>" + 
            "<div class='comment-date'>"+ data.comment_date +"</div>" +
            "<div class='comment-content'>" +
              "<span> &quot; </span>" +
              data.comment_content +
              "<span> &quot; </span>" +
            "</div>" +
          "</li>"
          );
        $grid.prepend(item)
             .masonry('prepended', item);
      }
    });    
  });  
});

</script>