<div class="container container-top-bottom-margin">
  <%if @user.gender == "male"%>
  <div class="detail-container male_color">
  <%else%>
  <div class="detail-container female_color">
  <%end%>    
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <center><%= image_tag(@user.pic+'.jpg', class: "detail-user-image") %>
          <div class="detail-name"><%=@user.name%></div>
          <div class="detail-major"><%=@user.major%></div>           
          <div class="detail-category">
            <% @user.category.split(',').each do |category| %>
            <span>#<%= category %>  </span>
            <% end %>
          </div>
        </center>
        
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="detail-introduce"><%=@user.introduce.gsub(/\r\n/, '<br/>').html_safe%></div>
      </div>
    </div>    
    <a href="#" class="custom-button message-button" id="card_box" data-toggle="modal" data-target="#exampleModal" data-receiver_id="<%=@user.id %>">
      메세지 보내기
    </a>
    <!--좋아요 체크-->
    <% if @like_flag %>
      <button id="like-user" class="custom-button like-button like-button-selected"><i class="fa fa-heart-o" aria-hidden="true"></i> <%=@user.like_count%></button>  
    <% else %>
      <button id="like-user" class="custom-button like-button"><i class="fa fa-heart-o" aria-hidden="true"></i> <%=@user.like_count%></button>  
    <% end %>
    
  </div>  
  
  <%if @user.gender == "male"%>
  <div class="comment-container male_color">
  <%else%>
  <div class="comment-container female_color">
  <%end%>
    <ul>
      <li class="list-group-item">
        <div class="input-group">
          <input type="text" class="form-control reply-content" placeholder="댓글을 작성해주세요">
          <span class="input-group-btn">
            <button id="reply-button" class="btn btn-default" type="button">작성</button>
          </span>
        </div>
      </li>
      <div class="masonry">      
        <% @comments.each do |comment| %> 
          <li class="list-group-item comment-item masonry-item">
            <div class="comment-user"><%=comment.user.name%></div>
            <div class="comment-date"><%=comment.created_at.in_time_zone("Seoul").strftime("%Y.%m.%d %H:%M")%></div>
            <div class="comment-content">
              <span>"</span>
              <%=comment.content%>
              <span>"</span>
            </div>
          </li>
        <%end%>      
      </div>
    </ul>
  
  </div>
</div><!-- container -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
      <!--<form action="/send_message" method="post">-->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="exampleModalLabel">보내고 싶은 메시지를 작성해주세요.!</h2>
        </div>
        <div class="modal-body">
            <input id="modal_receiver_id" type="hidden" name="receiver_id">
            <div class="form-group">
              <label for="modal_title" class="control-label">제목</label>
              <input type="text" class="form-control" id="modal_title" name="title" required>
            </div>
            <div class="form-group">
              <label for="modal_content" class="control-label">내용</label>
              <textarea class="form-control modal-textarea" id="modal_content" name="content" required></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!--<button type="submit" id="send_message_button" class="btn btn-primary">Send message</a>-->
          <button id="send_message_button" class="btn btn-primary">Send message</a>
        </div>
        <!--</form>-->
      </div>
  </div>
</div>

<script>
$(function(){
  
  //masonry 추가
  var $grid = $('.masonry').masonry({
      itemSelector: '.masonry-item',
  });  
        
  $("#reply-button").click(function(){
    $.ajax({
      method: "POST",
      url: "/write_reply",
      data: { receiver_id: <%=@user.id %>,
              content: $(".reply-content").val()},
      success: function(data){
        var item = $(
          "<li class='list-group-item comment-item masonry-item'>" +
            "<div class='comment-user'>" + "<%=current_user.name%>" + "</div>" + 
            "<div class='comment-date'>"+ data.comment_date +"</div>" +
            "<div class='comment-content'>" +
              "<span> &quot; </span>" +
              data.comment_content +
              "<span> &quot; </span>" +
            "</div>" +
          "</li>"
          );
        $grid.prepend(item)
             .masonry('prepended', item);
        $(".reply-content").val(""); 
      }
    });    
  });  
  $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var receiver_id = button.data('receiver_id')  
  $('#modal_receiver_id').val(receiver_id)
  // $('#modal_title').val(user_id)
  // $('#modal_content').val(target_user_id)
  });
      
  // $(function(){
  //   $(".alert").delay(2000).fadeOut('slow');
  // });

  $("#send_message_button").click(function(){
          $.ajax({
              method: "POST",
              url: "/send_message",
              data: { receiver_id: $("#modal_receiver_id").val(),
                      post_title: $("#modal_title").val(),
                      post_content: $("#modal_content").val()},                
              success: function(data){
                      $('#modal_title').val("")
                      $('#modal_content').val("")
                      Push.create('메시지 전송 성공!', {
                        body:  '메시지가 전송 되었습니다.',
                        // icon :  'images/m_logo_keen.jpg',
                        timeout : 3000
                      });  
                      $('#exampleModal').modal("hide");
              }            
          });
  });
  
  $("#like-user").click(function(){
    $.ajax({
      method: "POST",
      url: "/like_user",
      data: { receiver_id: <%= @user.id %> },
      success: function(data){
        if(data.like_flag){
          $("#like-user").addClass( "like-button-selected" );
          $("#like-user").html("<i class='fa fa-heart' aria-hidden='true'></i> " + data.like_count);
        }
        else{
          $("#like-user").removeClass( "like-button-selected" );
          $("#like-user").html("<i class='fa fa-heart' aria-hidden='true'></i> " + data.like_count);
        }
      }
    });    
  });
  
});

</script>