<div class="container container-top-bottom-margin">
  <div class="row">
    <div class="col-md-4">
      <!-- <div class="my_card_container"> -->
        <%if @user.gender == "male"%>
          <div class="my_card male_color">
        <%else%>
          <div class="my_card female_color">
        <%end%>
            <%#= image_tag(@user.image_url+'.jpg', class: "card-image") %>
            <img class="card-image" src="<%=@user.image_url.url%>">
            <div class="card-content">
              <div class="card-user">
                <div class="card-name">
                  <%= @user.name %>
                </div>
                <div class="card-major">
                  <%= @user.major %>
                </div>
              </div>
              <div class="card-introduce-container">
                <div class="card-introduce">
                  <span class="quotes">"</span>
                  <%= @user.introduce.gsub(/\r\n/, '<br/>').html_safe %>
                  <span class="quotes">"</span>
                </div>
              </div>
              <div class="card-category">
                <% @user.category.split(',').each do |category| %>
                <span>#<%= category %>  </span>
                <% end %>
              </div>
            </div>
         </div>
       <!-- </div> -->
    </div><!--col-md-4-->
    <div class="col-md-8">
      <div class="row">
        <% @posts.each do |post| %>
        <div class="message_box">
          <div class="col-md-4">            
            <%if post.user.gender == "male"%>
              <div class="card male_color">
            <%else%>
              <div class="card female_color">
            <%end%>
                <%= image_tag(post.user.pic+'.jpg', class: "card-image") %>
                <div class="card-content">
                  <div class="card-user">
                    <div class="card-name">
                      <%= post.user.name %>
                    </div>
                    <div class="card-major">
                      <%= post.user.major %>
                    </div>
                  </div>
                  <div class="card-introduce">
                    <span class="quotes">"</span>
                    <%= post.user.introduce.gsub(/\r\n/, '<br/>').html_safe %>
                    <span class="quotes">"</span>
                  </div>
                  <div class="card-category">
                    <% post.user.category.split(',').each do |category| %>
                    <span>#<%= category %>  </span>
                    <% end %>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-8">
            <div class="message_title"><%= post.title %></div>
            <div class="message_content"><%= post.content.gsub(/\r\n/, '<br/>').html_safe %></div>
          </div>
        </div><!--message_box-->
        <% end %>
      </div>
    </div><!--col-md-8-->
  </div>
</div>
