<div class="container container-top-bottom-margin">
  <div class="row">
    <div class="col-md-4">
      <!-- <div class="my_card_container"> -->
        <%if @user.gender == "male"%>
          <div class="my_card male_color">
        <%else%>
          <div class="my_card female_color">
        <%end%>
            <div class="card-image">
              <%= image_tag(@user.pic+'.jpg', class: "random_image") %>
            </div>
            <div class="card-description">
              <div class="card-major">
                <%= @user.major %>
              </div>

              <div class="card-category">
                <%= @user.category %>
              </div>
            </div>
         </div>
       <!-- </div> -->
    </div><!--col-md-4-->
    <div class="col-md-8">
      <div class="row">
        <% @posts.each do |post| %>
        <div class="message_box">
          <div class="col-md-4">
            <% u = User.where(id: post.sender).take %>
            <%if u.gender == "male"%>
              <div class="card male_color">
            <%else%>
              <div class="card female_color">
            <%end%>
                <div class="card-image">
                  <%= image_tag(u.pic+'.jpg', class: "random_image") %>
                </div>
                <div class="card-description">
                  <div class="card-major">
                    <%= u.major %>
                  </div>

                  <div class="card-category">
                    <%= u.category %>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-8">
            <div class="message_title"><%= post.title %></div>
            <div class="message_content"><%= post.content %></div>
          </div>
        </div><!--message_box-->
        <% end %>
      </div>
    </div><!--col-md-8-->
  </div>
</div>
